SepaWriter/Xsd/sepa.hr.pain.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sddhr:pain.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sddhr:pain.008.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice_HR">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier_HR"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice_2">
		<xs:sequence>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice_3">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="11"/>
			<xs:maxInclusive value="999999999.99"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode_EUR" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode_EUR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendmentInformationDetails6">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32_5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount16_2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4_2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4_1">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4_2">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16_HR">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice_HR"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode_EUR" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16_2">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice_2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16_3">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice_3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:element name="Cd" type="DocumentType3Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerDirectDebitInitiationV02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader39"/>
			<xs:element name="PmtInf" type="PaymentInstructionInformation4" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="9999999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DirectDebitTransaction6">
		<xs:sequence>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation6"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32_4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectDebitTransactionInformation9">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification1"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
			<xs:element name="DrctDbtTx" type="DirectDebitTransaction6"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32_3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4_1"/>
			<xs:element name="Dbtr" type="PartyIdentification32_6"/>
			<xs:element name="DbtrAcct" type="CashAccount16_3"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32_3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Purp" type="Purpose2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="CstmrDrctDbtInitn" type="CustomerDirectDebitInitiationV02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:enumeration value="CORE"/>
			<xs:enumeration value="B2B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7_1">
		<xs:choice>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1_1" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7_2">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1_1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text_NP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1_2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1_1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1_2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text_CI"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader39">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber"/>
			<xs:element name="InitgPty" type="PartyIdentification32_1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier_HR">
		<xs:restriction base="xs:string">
			<xs:pattern value="[H][R][0-9]{19}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateRelatedInformation6">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text"/>
			<xs:element name="DtOfSgntr" type="ISODate"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text_NP">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:enumeration value="NOTPROVIDED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text_SEPA">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text_CI">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[A-Z]{2}[0-9]{2}[a-zA-Z0-9]{4,31}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:choice>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party6Choice_1">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification4"/>
			<xs:element name="PrvtId" type="PersonIdentification5_1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party6Choice_2">
		<xs:sequence>
			<xs:element name="PrvtId" type="PersonIdentification5_2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_1">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice_1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_2">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_3">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice_1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_4">
		<xs:sequence>
			<xs:element name="Id" type="Party6Choice_2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_5">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice_2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_6">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice_1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification1">
		<xs:sequence>
			<xs:element name="InstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndToEndId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionInformation4">
		<xs:sequence>
			<xs:element name="PmtInfId" type="Max35Text"/>
			<xs:element name="PmtMtd" type="PaymentMethod2Code"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqdColltnDt" type="ISODate"/>
			<xs:element name="Cdtr" type="PartyIdentification32_2"/>
			<xs:element name="CdtrAcct" type="CashAccount16_HR"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4_1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32_3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32_4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformation9" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentTypeInformation20">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice"/>
			<xs:element name="SeqTp" type="SequenceType1Code"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5_1">
		<xs:choice>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1_1" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5_2">
		<xs:sequence>
			<xs:element name="Othr" type="GenericPersonIdentification1_2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice_1">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice_2">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text_SEPA"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalPurpose1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation5">
		<xs:choice>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>